.wrapper{
    display: block;
    width: 65vw;
    height: 80vh;
    background-color: #fff;
    margin:5% 0 0 15%;
    .title{
        font-family:'Courier New', Courier, monospace;
        font-weight:bolder;
        font-size: 25px;
        padding: 2% 0 0 5%;
    }
    .dataResult{
        width: 90%;
        height: 30%;
        padding: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .imgs{
            width: 20%;
            height: 100%;
        }
    }
    .texts{
        width: 82%;
        height: 2%;
        margin: 0.5rem;
        padding: 15px;
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        margin-left: 5%;
    }
}